@font-face {
  font-family: 'Circular';
  src: url('./font/Circular.eot'); /* IE9 Compat Modes */
  src: url('./font/Circular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./font/Circular.woff') format('woff'), /* Modern Browsers */
       url('./font/Circular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('./font/Circular.svg#b333381778fc1f96de44d359c7f8b95e') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  600;
}

@font-face {
  font-family: 'Circular';
  src: url('./font/CircularStd-Black.eot'); /* IE9 Compat Modes */
  src: url('./font/CircularStd-Black.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./font/CircularStd-Black.woff') format('woff'), /* Modern Browsers */
       url('./font/CircularStd-Black.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('./font/CircularStd-Black.svg#69f4a7954d9815defd5c51897ccaf059') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  800;
}

@font-face {
  font-family: 'Circular';
  src: url('./font/CircularStd-Book.eot'); /* IE9 Compat Modes */
  src: url('./font/CircularStd-Book.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./font/CircularStd-Book.woff') format('woff'), /* Modern Browsers */
       url('./font/CircularStd-Book.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('./font/CircularStd-Book.svg#dd452d63ae05ddb466f19713a7d09fd5') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  400;
}
